DB_HOST=localhost
DB_PORT=3306
DB_NAME=your_database_name
DB_USER=root
DB_PASSWORD=your_password
DB_SSL=false
DEFAULT_SESSION_ID=hostel-football-auction
MAX_PLAYERS=75
AUCTION_DURATION_MS=60000
MIN_INCREMENT=100000
BASE_PRICE=200000
TEAM_BUDGET=20000000
APP_ADMIN_USERNAME=admin
APP_ADMIN_PASSWORD=Ayy.Ali0506
